export(dstudy_pxi)
export(check_gstudy_design)
export(error_budget)
export(sem_gtheory)
export(score_interval)
export(dstudy_grid)
export(optimize_dstudy)
export(dstudy_sensitivity)
export(simulate_gstudy)
export(bootstrap_gstudy)
export(dstudy_nested_ip)
export(dstudy_crossed)
export(dstudy_pxif)
export(dstudy_pxio)
export(dstudy_pxir)
export(dstudy_pxiro)
export(gstudy_crossed)
export(gstudy_pxi)
export(gstudy_nested_ip)
export(gstudy_pxif)
export(gstudy_pxio)
export(gstudy_pxir)
export(gstudy_pxiro)
export(anova_table)
export(mean_squares_table)
export(variance_proportions_table)
export(variance_components_table)
importFrom(stats,xtabs)
S3method(anova_table,gstudy_gtheoryr)
S3method(mean_squares_table,gstudy_gtheoryr)
S3method(print,dstudy_gtheoryr)
S3method(print,gstudy_gtheoryr)
S3method(variance_proportions_table,gstudy_gtheoryr)
S3method(variance_components_table,gstudy_gtheoryr)
